In [1]:
import os
import settings

ImportError: No module named 'settings'

In [2]:
import pandas as pd

In [26]:
HEADERS = {
    "Acquisition": [
        "id",
        "channel",
        "seller",
        "interest_rate",
        "balance",
        "loan_term",
        "origination_date",
        "first_payment_date",
        "ltv",
        "cltv",
        "borrower_count",
        "dti",
        "borrower_credit_score",
        "first_time_homebuyer",
        "loan_purpose",
        "property_type",
        "unit_count",
        "occupancy_status",
        "property_state",
        "zip",
        "insurance_percentage",
        "product_type",
        "co_borrower_credit_score",
        "mortgage_insurance_type",
        "relocation_mortgage_indicator"
    ],
    "Performance": [
        "id",
        "reporting_period",
        "servicer_name",
        "interest_rate",
        "balance",
        "loan_age",
        "months_to_maturity",
        "adjusted_remaining_mtm"
        "maturity_date",
        "msa",
        "delinquency_status",
        "modification_flag",
        "zero_balance_code",
        "zero_balance_date",
        "last_paid_installment_date",
        "foreclosure_date",
        "disposition_date",
        "foreclosure_costs",
        "property_repair_costs",
        "recovery_costs",
        "misc_costs",
        "tax_costs",
        "sale_proceeds",
        "credit_enhancement_proceeds",
        "repurchase_proceeds",
        "other_foreclosure_proceeds",
        "non_interest_bearing_balance",
        "principal_forgiveness_balance",
        "proceeds_flag",
        "principal_write_off",
        "activity_indicator"
    ]
}

SELECT = {
    "Acquisition": HEADERS["Acquisition"],
    "Performance": [
        "id",
        "foreclosure_date"
    ]
}

In [30]:
data = pd.read_csv("/home/niraj/loan_prediction/data/Acquisition_2016Q1.txt", sep="|", header=None,names=HEADERS["Acquisition"],index_col=False)

In [31]:
data.head()

,id,channel,seller,interest_rate,balance,loan_term,origination_date,first_payment_date,ltv,cltv,...,property_type,unit_count,occupancy_status,property_state,zip,insurance_percentage,product_type,co_borrower_credit_score,mortgage_insurance_type,relocation_mortgage_indicator
0,100000512540,C,FRANKLIN AMERICAN MORTGAGE COMPANY,3.750,65000,360,12/2015,02/2016,74,74,...,SF,1,P,GA,308,NaN,FRM,NaN,NaN,N
1,100000549022,C,OTHER,4.000,153000,360,01/2016,03/2016,95,95,...,SF,1,P,KS,670,30.0,FRM,794.0,1.0,N
2,100003006281,C,OTHER,3.625,114000,360,03/2016,05/2016,95,95,...,SF,1,P,IL,623,30.0,FRM,761.0,1.0,N
3,100003784303,B,OTHER,3.875,150000,360,03/2016,05/2016,70,70,...,PU,1,P,IN,471,NaN,FRM,813.0,NaN,N
4,100004643080,R,OTHER,4.250,40000,360,12/2015,02/2016,24,24,...,PU,1,P,TX,773,NaN,FRM,773.0,NaN,N

In [33]:
import pandas as pd


train = pd.read_csv("/home/niraj/loan_prediction/processed/train.csv")
train["foreclosure_status"].value_counts()

False    300830
Name: foreclosure_status, dtype: int64

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303402 entries, 0 to 303401
Data columns (total 25 columns):
id                               303402 non-null int64
channel                          303402 non-null object
seller                           303402 non-null object
interest_rate                    303402 non-null float64
balance                          303402 non-null int64
loan_term                        303402 non-null int64
origination_date                 303402 non-null object
first_payment_date               303402 non-null object
ltv                              303402 non-null int64
cltv                             303402 non-null int64
borrower_count                   303402 non-null int64
dti                              303330 non-null float64
borrower_credit_score            303288 non-null float64
first_time_homebuyer             303402 non-null object
loan_purpose                     303402 non-null object
property_type                    303402 non-null object
unit_count                       303402 non-null int64
occupancy_status                 303402 non-null object
property_state                   303402 non-null object
zip                              303402 non-null int64
insurance_percentage             99066 non-null float64
product_type                     303402 non-null object
co_borrower_credit_score         142638 non-null float64
mortgage_insurance_type          99066 non-null float64
relocation_mortgage_indicator    303402 non-null object
dtypes: float64(6), int64(8), object(11)
memory usage: 57.9+ MB